 
<!DOCTYPE html>
<html lang="en" style="height: 100%">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Welcome</title>

        <!-- Bootstrap core CSS -->


        <link href="{{asset('bundles/maindb/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/maindb/css/bootstrap-theme.min.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/maindb/css/parsley/parsley.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/maindb/css/datepicker.css')}}" rel="stylesheet">


        <!-- Custom styles for this template -->
        <link href="{{asset('bundles/maindb/css/signin.css')}}" rel="stylesheet">
        <style type="text/css">
            .navbar{
                margin-top: 20px;
            }
        </style>



        <!-- Custom styles for this template -->


        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body style="height: 100%;"
          <div class="container" style="height: 90%">
            <nav role="navigation" class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand"><img src="{{asset('bundles/maindb/images/v3d.png')}}" alt="Smiley face" height="20" ></a>
                </div>
                <!-- Collection of nav links, forms, and other content for toggling -->
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{path('maindb_homepage')}}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li><a href="{{path('maindb_profile')}}"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>

                    </ul>
                    <!-- search
                    <form role="search" class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" placeholder="Search" class="form-control">
                        </div>
                    </form>
                    --> 
                    <ul class="nav navbar-nav">
                        {%if roles is iterable%}
                            {%for role in roles%}
                                {%if role.nom == 'user' %}
                                    <li class="dropdown">
                                        <a  class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-ok"></span> Time Report <span class="caret"></span></a>
                                        <ul role="menu" class="dropdown-menu">
                                            <li class="active"><a href="{{path('maindb_gestionsimplereport')}}">Simple time report</a></li>
                                        </ul>
                                    </li>
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                    </ul>
                    <ul class="nav navbar-nav navbar-left">
                        {%if roles is iterable%}
                            {%for role in roles%}
                                {%if role.nom == 'administrator' %}
                                    <li class="dropdown">
                                        <a  class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-download-alt"></span> Export <span class="caret"></span></a>
                                        <ul role="menu" class="dropdown-menu">
                                            <li><a href="{{path('maindb_exportsimpletask')}}">Export Simple Tasks</a></li>
                                        </ul>
                                    </li>
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                    </ul> 
                    <ul class="nav navbar-nav navbar-right">
                        {%if roles is iterable%}
                            {%for role in roles%}
                                {%if role.nom == 'administrator' %}
                                    <li class="dropdown">
                                        <a  class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-fire"></span> Admin panel <span class="caret"></span></a>
                                        <ul role="menu" class="dropdown-menu">
                                            <li><a href="{{path('maindb_gestionuserlist',{'firstload':1})}}">Users management</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{path('maindb_gestionactivite')}}">Categories management</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{path('maindb_gestionteamlist')}}">Team management</a></li>
                                        </ul>
                                    </li>
                                {%endif%}
                            {%endfor%}
                        {%endif%}
                        <li><a href="{{path('maindb_profile')}}"><span class="glyphicon glyphicon-check"></span> connected as {{name}} {{surname}}</a></li>
                        <li><a href="{{path('maindb_logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>

                </div>
            </nav>

            <h2>HEELLO{{lol}} {{lol2}}</h2>
            <form class="navbar-form navbar-right" role="search" action="#" method="POST">
                <div class="form-group" style="display: flex;">
                    <input  type="text" placeholder="select start date"  id="example1" style="font-size: 15px; width : auto;">
                    <input  type="text" placeholder="select end date"  id="example2" style="font-size: 15px; width : auto;">
                    <select class="form-control" name="nature">
                        {%if natures is defined%}
                            <option  value="">-- Select nature --</option>
                            {%for nature in natures%}
                                <option  value="{{nature}}">{{nature}}</option>
                            {%endfor%}
                        {%endif%}
                    </select>
                    <button type="submit" class="btn btn-default">Refresh</button>
                </div>
            </form>

            <p style="color:#888888; font-size: 18px;"><span class="glyphicon glyphicon-arrow-right"></span> Simple Time Report</p>
            <div class="span3" style="height: 60% !important; overflow-x: scroll; border: 2px solid; border-color: #e7e7e7;
                 border-radius: 5px;
                 display: block;
                 margin-top: 75px;
                 box-shadow: 10px 10px 5px #888888;">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Nature</th>
                            <th>Title</th>
                            <th style="width: 80px;">Edit</th>
                            <th style="width: 80px;">Delete</th>
                            <th style="width: 80px;">Clone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>

                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>

                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>

                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>

                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>

                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                        </tr><tr>
                            <td>6</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                        </tr><tr>
                            <td>6</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>

                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>                            

                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>

                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>

                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>

                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Something</td>
                            <td><a>Something else</a></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                            <td><span class="glyphicon glyphicon-plus" style="margin-right: 10px;"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>   

            <!-- Modal box to edit -->
            <div class="modal fade" id="addBookDialog2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width: 40%;">
                    <form class="form-horizontal" role="form" data-validate="parsley" method="POST" action="{{path('maindb_newsimplereport')}}">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">New report : <input readonly type="text" id="bookIsd" value="" style="border: none; width : 100%;"/> </h4>
                                <input readonly hidden type="text" name="idToEdit" id="bookIsd2" value="" style="border: none; width : 100%;"/>
                            </div>
                            <div class="modal-body">
                                <div style="margin-top: 30px;">

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">Nature : </label>
                                        <div class="col-sm-10">
                                            <select required class="form-control" name="nature" id="nature" onchange="marksgrade()">
                                                {%if natures is defined%}
                                                    <option  value="">-- Select nature --</option>
                                                    {%for nature in natures%}
                                                        <option  value="{{nature}}">{{nature}}</option>
                                                    {%endfor%}
                                                {%endif%}
                                            </select>
                                        </div>
                                    </div>
                                    <div id="lsld">

                                    </div>
                                    <div id="demo">

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" id="submit" class="btn btn-primary" disabled>Next</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addBookDialog2" align="center" style="margin-left: auto; margin-top: 30px; margin-right: auto; display: block"><span class="glyphicon glyphicon-plus"></span>  Report</button>

            <div class="modal hide fade" id="myModal">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3>Modal header</h3>
                </div>
                <div class="modal-body">
                    <p>One fine body…</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Close</a>
                    <a href="#" class="btn btn-primary">Save changes</a>
                </div>
            </div>
        </div> <!-- /container -->



        <!-- Bootstrap core JavaScript
        ================================================== -->
        <script src="{{asset('bundles/maindb/js/jquery.min.js')}}"></script>
        <script src="{{asset('bundles/maindb/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('bundles/maindb/js/bootstrap.js')}}"></script>

        <script src="{{asset('bundles/maindb/js/parsley/parsley-standalone.min.js')}}"></script>
        <script src="{{asset('bundles/maindb/js/parsley/parsley.extend.min.js')}}"></script>
        <script src="{{asset('bundles/maindb/js/parsley/parsley.min.js')}}"></script>
        <script src="{{asset('bundles/maindb/js/dropdown.js')}}"></script>
        <script src="{{asset('bundles/maindb/js/affix.js')}}"></script>
        <script src="{{asset('bundles/maindb/js/alert.js')}}"></script>
        <script src="{{asset('bundles/maindb/js/button.js')}}"></script>
        <script src="{{asset('bundles/maindb/js/jquery.js')}}"></script>
        <script src="{{asset('bundles/maindb/js/scrollspy.js')}}"></script>
        <script src="{{asset('bundles/maindb/js/tab.js')}}"></script>
        <script src="{{asset('bundles/maindb/js/tooltip.js')}}"></script>
        <script src="{{asset('bundles/maindb/js/transition.js')}}"></script>
        <script src="{{asset('bundles/maindb/js/bootstrap-datepicker.js')}}"></script>
        <script type="text/javascript">
                                                // When the document is ready
                                                $(document).ready(function () {

                                                    $('#example1').datepicker({
                                                        format: "dd/mm/yyyy"
                                                    });

                                                });
        </script>
        <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {

                $('#example2').datepicker({
                    format: "dd/mm/yyyy"
                });

            });
        </script>
        <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
            $("#nature").change(function () {
            $("#date").datepicker({
            format: "dd/mm/yyyy"
            }
            });
            });        </script>

        <script>
                    $(document).ready(function () {


            $("#nature").change(function () {

            var val = $(this).val();
                    if (val === "Abscence") {
            $("#lsld").html("<div class='form-group'><label for='InputPassword3' class='col-sm-2 control-label'>Label : </label><div class='col-sm-10'><input class='form-control parsley-validated' type='text' name='fname' required><br></input></div></div><div class='form-group'><label for='InputPassword3' class='col-sm-2 control-label'>Date : </label><div class='col-sm-10'><input type='text' placeholder='select date'  id='date' style='font-size: 15px; width : auto; required'></div></div>");
                    document.getElementById("demo").innerHTML = '';
                    $("#date").datepicker({
            format: "dd/mm/yyyy"
            });
                    document.getElementById('submit').disabled = false;
            } else if (val === "Intern") {
            $("#lsld").html("<div class='form-group'><label for='InputPassword3' class='col-sm-2 control-label'>Label : </label><div class='col-sm-10'><input required class='form-control parsley-validated' type='text' name='fname'><br></input></div></div><div class='form-group'><label for='InputPassword3' class='col-sm-2 control-label'>Date : </label><div class='col-sm-10'><input required type='text' placeholder='select date'  id='date' style='font-size: 15px; width : auto;'></div></div>");
                    $("#date").datepicker({
            format: "dd/mm/yyyy"
            });
                    document.getElementById('submit').disabled = false;
            } else if (val === "Product") {
            $("#lsld").html("<div class='form-group'><label for='InputPassword3' class='col-sm-2 control-label'>Label : </label><div class='col-sm-10'><input required class='form-control parsley-validated' type='text' name='fname'><br></input></div></div><div class='form-group'><label for='InputPassword3' class='col-sm-2 control-label'>Date : </label><div class='col-sm-10'><input required type='text' placeholder='select date'  id='date' style='font-size: 15px; width : auto;'></div></div>");
                    $("#date").datepicker({
            format: "dd/mm/yyyy"
            });
                    document.getElementById('submit').disabled = false;
            } else if (val === "Pre Sale") {
            $("#lsld").html("<div class='form-group'><label for='InputPassword3' class='col-sm-2 control-label'>Label : </label><div class='col-sm-10'><input required class='form-control parsley-validated' type='text' name='fname'><br></input></div></div><div class='form-group'><label for='InputPassword3' class='col-sm-2 control-label'>Date : </label><div class='col-sm-10'><input required type='text' placeholder='select date'  id='date' style='font-size: 15px; width : auto;'></div></div>");
                    $("#date").datepicker({
            format: "dd/mm/yyyy"
            });
                    document.getElementById('submit').disabled = false;
            } else if (val === "Project") {
            $("#lsld").html("<div class='form-group'><label for='InputPassword3' class='col-sm-2 control-label'>Label : </label><div class='col-sm-10'><input required class='form-control parsley-validated' type='text' name='fname'><br></input></div></div><div class='form-group'><label for='InputPassword3' class='col-sm-2 control-label'>Date : </label><div class='col-sm-10'><input required type='text' placeholder='select date'  id='date' style='font-size: 15px; width : auto;'></div></div>");
                    $("#date").datepicker({
            format: "dd/mm/yyyy"
            });
                    document.getElementById('submit').disabled = false;
            } else if (val === "") {
            $("#lsld").html("");
                    document.getElementById('submit').disabled = true;
            }


            });
            });        </script>

        <script>
                    function myFunction() {
                    document.getElementById("demo").innerHTML = "Paragraph changed.";
                    }
        </script>

        <script type="text/javascript">
            var test = {{date}};
                    if (test){
            $(window).load(function () {
            $('#addBookDialog2').modal('show');
            });
            }
        </script>

        <!-- Placed at the end of the document so the pages load faster -->
    </body>
</html>